<div class="posts">
  
  <div class="post">
    <h1><%= link_to @post.title, @post %></h1>
    <%= image_tag(@post.picture_url, width: 600) if @post.picture.present? %>
    <div><%= simple_format(@post.content) %></div>
    <%= link_to 'Edit', edit_post_path(@post) %>
    <%= link_to 'Delete', @post, method: :delete, data: { confirm: 'Are you sure?' } %>
    
    
  </div>

</div>

